
<style>
  .options > div > div > p {
    display: block;
    height: fit-content;
    margin-bottom: 0;
  }
  .card-footer > div {
    cursor: pointer;
  }
  i {
    margin-right: 3px;
    cursor: pointer;
  }
  .card {
    margin-bottom: 15px;
  }
  .bi-heart-fill {
    border: none;
    color: #c7241a;
  }
</style>

<!-- Post Form -->
{% if join_status == 'already joined' %}
<div class="card">
  <div class="card-body">
    <div class="card-profile d-flex">
        <img src="{{ url_for('feature.get_profile_image', user_id=g.user.id) }}" class="rounded-circle d-block" style="margin-right: 10px;" alt="프로필 사진" width="45" height="45">
        <div class="card-profile-info">
          <h5 class="card-title d-flex fw-bold mb-1">
              <a class="a" class="fw-bold"  href="{{ url_for('main.my_page', username='ohinsu134')}}">
              {{ g.user.username }}
              </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ g.user.email }}</h6>
        </div>
    </div>
    <form method="POST" action="{{ url_for('group.post_community', group_id=group.id)}} ">
      {{ form.csrf_token }}
      <textarea class="form-control mb-2" id="content" name="content" placeholder="게시글을 작성하세요." rows="3"></textarea>
      <div class="options-left d-flex gap-3">
        <div class="like d-flex"><button type="submit" class="btn btn-primary">작성</button></div>
      </div>
    </form>
    <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
  </div>
</div>
{% endif %}



<!-- Posts -->
{% for i in range(0, group.community_posts|length)|sort(reverse=True) %}
<div class="card">
  <div class="card-body">
    <div class="card-profile d-flex">
        <img src="{{ url_for('feature.get_profile_image', user_id=group.community_posts[i].user_id) }}" class="rounded-circle d-block" style="margin-right: 10px;" alt="프로필 사진" width="45" height="45">
        <div class="card-profile-info">
          <h5 class="card-title d-flex fw-bold mb-1">
              <a class="a" class="fw-bold"  href="{{ url_for('main.my_page', username=group.community_posts[i].user.userID)}}">
              {{ group.community_posts[i].user.username }}
              </a>
          </h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ group.community_posts[i].user.email }}</h6>
        </div>
    </div>
    <p class="card-text">{{ group.community_posts[i].content }}</p>
    <p class="card-text text-muted"><small class="text-body-secondary">
      {{ group.community_posts[i].created_at.strftime('%Y/%m/%d - %H:%M:%S') }}
    </small></p>
  </div>
  <div class="card-footer options text-body-secondary bg-white d-flex justify-content-between">
    <div class="options-left d-flex gap-3" >
      <div class="like d-flex" data-post-id="{{group.community_posts[i].id}}" data-group-id="{{ group.community_posts[i].group_id}}">
        {% for like in group.community_posts[i].likes if like.user_id == g.user.id %}
        <i class="bi bi-heart-fill liked"></i>
        {% else %}
        <i class="bi bi-heart"></i>
        {% endfor %}
        <p>{{ group.community_posts[i].likes|length }}</p>
      </div>
      <!-- <i class="bi bi-hand-thumbs-up-fill"></i> -->
      
      <div class="comment d-flex comment-toggle-button" data-post-id="{{i}}"><i class="bi bi-chat"></i><p>0</p></div>
      <!-- <div class="comment d-flex" id="comment-toggle" data-post-id="{{ post_id }}"><i class="bi bi-chat"></i><p>13</p></div> -->
    </div>
    {% if g.user.id == group.community_posts[i].user_id %}
    <div class="options-right d-flex gap-3">
      <div class="modify d-flex"><i class="bi bi-pencil-square"></i></div>
      <div class="delete d-flex"><i class="bi bi-trash3-fill"></i></i></div>
    </div>
    {% endif %}

  </div>
  
  <div class="card-comments border-top" id="comments-{{i}}" style="display: none;">
    <!-- <div class="card-comments" id="comments-{{ post_id }}"> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
  </div>
</div>
{% endfor %}


<script>
  //Comment 버튼 클릭 이벤트 핸들러
  document.addEventListener('DOMContentLoaded', function() {
    var toggleButtons = document.getElementsByClassName('comment-toggle-button');
    for (var i = 0; i < toggleButtons.length; i++) {
      toggleButtons[i].addEventListener('click', function() {
        var postId = this.getAttribute('data-post-id');
        var comments = document.getElementById('comments-' + postId);
        comments.style.display = (comments.style.display === 'none') ? 'block' : 'none';
      });
    }
  });

// 좋아요 버튼 클릭 시
  document.addEventListener('DOMContentLoaded', function() {
    var likeButtons = document.getElementsByClassName('like');
    for (var i = 0; i < likeButtons.length; i++) {
      likeButtons[i].addEventListener('click', function() {
        var postId = this.getAttribute('data-post-id');
        var groupId = this.getAttribute('data-group-id');
        var endpoint = 'community/like';
        var button = this;

        // 데이터 생성
        var data = {
          post_id: postId,
          group_id: groupId
        };

        // Ajax 요청
        $.ajax({
          type: 'POST',
          url: endpoint,
          data: data,
          success: function(response) {
            // 서버 응답 처리
            if (response.success) {
              // 성공적으로 처리된 경우

              // 좋아요 버튼 상태 토글
              var updatedIsLiked = response.is_liked;
              if (updatedIsLiked) {
                button.querySelector('i').classList.add('bi-heart-fill');
                button.querySelector('i').classList.remove('bi-heart');
              } else {
                button.querySelector('i').classList.add('bi-heart');
                button.querySelector('i').classList.remove('bi-heart-fill');
              }
              
              // 좋아요 숫자 갱신
              var likesCount = response.likes_count;
              button.querySelector('p').innerText = likesCount;
              $(this).find('p').text(likesCount);
            } else {
              // 처리 중 오류가 발생한 경우
              console.log(response.error);
            }
          },
          error: function(xhr, status, error) {
            // Ajax 요청 오류 처리
            console.log(error);
          }
        });
      });
    }
  });
  

</script>
