      <!-- Tab -->
{% if join_status == 'owner' %}
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="font-size: 15px;">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-description" aria-selected="true">홈</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-members-tab" data-bs-toggle="pill" data-bs-target="#pills-members" type="button" role="tab" aria-controls="pills-reviews" aria-selected="false">그룹 멤버</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="pills-joinRequest-tab" data-bs-toggle="pill" data-bs-target="#pills-joinRequest" type="button" role="tab" aria-controls="pills-joinRequest" aria-selected="false">가입신청 목록</a>
  </li>
</ul>

<div class="tab-content border-top pt-2" style="font-size: 20px" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- First content -->
    Home tab 
    <!-- First content end -->
  </div>
  <div class="tab-pane fade show" id="pills-members" role="tabpanel" aria-labelledby="pills-members-tab">
    <!-- Second content -->
    Members tab 
    <!-- Second content end -->
  </div>
  <div class="tab-pane fade show" id="pills-joinRequest" role="tabpanel" aria-labelledby="pills-joinRequest-tab">
    <!-- Third content -->
    <div class="review-intro my-3 mx-3">
      <h3 class="" style="font-size: 20px;">총 가입신청: {{group.join_request|length}}개</h3>
    </div>
      <!-- 가입신청 목록 시작 -->
    {% for i in range(0, group.join_request|length) %}
    <div class="review d-flex flex-column mb-3 ">
      <div class="review-profile d-flex mb-1">
        <img src="{{ url_for('feature.get_profile_image', user_id=group.join_request[i].user.id) }}" class="rounded-circle d-block" style="margin-right: 10px;" alt="프로필 사진" width="45" height="45">
        <div class="review-name d-flex justify-content-between" style="width: 100%;">
          <div class="d-flex flex-column"><h5 class="mb-0">{{group.join_request[i].user.username}}</h5><p class="mb-0" style="font-size: 15px;">{{ group.join_request[i].created_at.strftime('%Y/%m/%d - %H:%M:%S') }}</p></div>
          <div class="d-flex">
            <form style="margin-right: 3px;" method="POST" action="{{ url_for('group.accept_join_request', join_request_id=group.join_request[i].id) }}"> 
              <input class="btn btn-primary" style="font-size: 15px" type="submit" value="수락하기">
            </form>
            <form method="POST" action="{{ url_for('group.reject_join_request', join_request_id=group.join_request[i].id) }}">
                <input class="btn btn-danger" style="font-size: 15px" type="submit" value="거절하기">
            </form>
          </div>
        </div>
      </div>
      <div class="review-detail">
        <!-- Request title -->
        <h5 class="mb-0" style="font-size: 17px">{{ group.join_request[i].message_title }}</h5>
        <!-- request content -->
        <p class="mb-0" style="font-size: 13px">{{ group.join_request[i].message_content }}</p>
      </div>
    </div>
    {% endfor %}
    <!-- Third content end -->
  </div>
</div>
{% endif %}
            