


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid" style="padding-left: 50px; padding-right: 50px;">
      <a class="navbar-brand" href="{{ url_for('main.main_page') }}">OpenSeats</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if g.user %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" id="group" aria-current="page" href="{{url_for('group.main_page')}}">Group</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="create_group" aria-current="page" href="{{url_for('group.create')}}">Create Group</a>
            </li>

            <li><a class="nav-link active" id="mobile_mypage" href="{{ url_for('main.my_page', username=g.user.userID) }}">내 페이지</a></li>
            <li><a class="nav-link active" id="mobile_logout"href="{{url_for('auth.logout')}}">로그아웃</a></li>
          </ul>
          <li class="nav-item" style="list-style: none">
            <div class="dropdown">
              <a id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="list-style: none">
                <img class="rounded-circle" src="{{ url_for('static', filename='/img/profile/default_profile.png') }}" alt="your-image-alt" width="40" height="40">
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('main.my_page', username=g.user.userID) }}">내 페이지</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">로그아웃</a></li>
              </ul>
            </div>
          </li>
          
          {% else %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" id="group" aria-current="page" href="#">about</a>
            </li>
          </ul>
          <li class="nav-item" style="list-style: none">
            <a class="nav-link" id="login_button" aria-current="page" href="{{url_for('auth.SignIn_page')}}">Login</a>
          </li>

        
        {% endif %}
      </div>
    </div>
</nav>
          


