{% extends 'basic/base.html' %} {% block title %}Openseats - Group page{%
endblock %} {% block content %}
<!-- navigation  -->
<style>
  .card {
    margin-right: 13px;
    margin-bottom: 10px;
    width: 17rem;
  }
  .placeholder {
    content: "";
    display: inline-block;
    width: 150px;
    height: 1em;
    background-color: #dedede;
  }
  .word-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<main class="d-flex justify-content-center">
  <div class="group-container container py-3 mt-400">
    <nav class="navbar md-1 py-3 align-items-center">
      <div class="container-fluid">
        <h5 class="navbar-brand py-0 my-1 fw-bold">현재 이용가능한 곳</h5>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- group list -->
    <div class="groups d-flex justify-content-center flex-wrap">
      {% if group_list %} {% for group in group_list.items %}
      <div class="card mr-10 mb-3">
        {% if group.images %}
          <img
            src="{{ url_for('static', filename='/uploads/img/{}/{}'.format(group.id ,group.images[0].name)) }}"
            class="card-img-top"
            alt="..."
            style="background-color: #dedede; width: 100%; height: 180px"
          />
        {% else %}
          <div class="card-img-top" style="background-color: #dedede; width: 100%; height: 133px;"></div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title mb-2 word-limit" style="font-size: 17px">
            {{ group.name }}
          </h5>
          <h6
            class="card-subtitle mb-2 text-body-secondary word-limit"
            style="font-size: 14px; color: #474747"
          >
            {{ group.address }}
          </h6>
          <h6
            class="card-subtitle mb-2 text-body-secondary word-limit"
            style="font-size: 14px"
          >
            ★ 4.96 (160)
          </h6>
          <p class="card-text mb-2" style="font-size: 13px">
            ₩{{ group.money_per_hour }} /1시간
          </p>
          <a
            href="{{ url_for('group.detail_page', group_id=group.id) }}"
            class="btn btn-primary"
            >확인하기</a
          >
        </div>
      </div>
      {% endfor %}
      <!-- Fill the blank box -->
      <!-- {% if groups|length % 3 != 0 %}
                    {% for i in range(0, 3 - groups|length % 3) %}
                        <div class="card mr-10 mb-3">
                            <div class="card-img-top" style="background-color: #dedede; width: 100%; height: 133px;"></div>
                            <div class="card-body">
                                <h5 class="card-title mb-2 placeholder" style=""></h5>
                                <h5 class="card-title mb-2 placeholder" style=""></h5>
                                <h5 class="card-title mb-2 placeholder" style=""></h5>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %} -->
      <!-- End Filling -->

      {% else %}
      <h1>No any result</h1>
      {% endif %}
    </div>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            <!-- 이전 페이지가 더 있을경우 -->
            {% if group_list.has_prev %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ group_list.prev_num }}">이전</a>
              </li>
              <!-- 없을 경우 이전버튼 비활성화 -->
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
              </li>
              {% endif %}
            <!-- 페이지번호 -->
            {% for page_num in group_list.iter_pages() %}
              {% if page_num %}
                {% if page_num != group_list.page %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                  </li>
                  {% else %}
                  <li class="page-item active" aria-current="page">
                      <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
                  </li>
                {% endif %}
              {% else %}
                <li class="disabled">
                    <a class="page-link" href="javascript:void(0)">...</a>
                </li>
              {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if group_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ group_list.next_num }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
            </li>
            {% endif %}
        </ul>
      <!-- 페이징처리 끝 -->
  </div>
</main>
{% endblock %}
