{% extends 'basic/base.html' %}
{% block title %}Openseats - 새로운 그룹 생성{% endblock %}

{% block content %}
<div class="container mx-5 mt-3">
    <!-- 오류 표시 -->
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items() %}
            <strong>{{ form[field].label }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    {% endif %}
    <!-- 오류표시 End -->

    <h1 class="mb-3">새로운 그룹을 생성하세요</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">그룹 이름</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" value="{{ form.name.data or ''}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="address" class="col-sm-2 col-form-label">주소</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="address" name="address" value="{{ form.address.data or ''}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">그룹 설명</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="description" value="{{ form.description.data or ''}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="money_per_hour" class="col-sm-2 col-form-label">시간당 금액</label>
            <div class="col-sm-10">
            <input type="text" class="form-control" id="money_per_hour" name="money_per_hour" value="{{ form.money_per_hour.data or  ''}}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}