#side-space {
    background-color: #ffffff;
    overflow: auto;
    border-top: 1px solid #dee2e6; /* 세로 경계줄 스타일 */
    border-right: 1px solid #dee2e6; /* 세로 경계줄 스타일 */
}


.side-space-menubar {
    margin: 10px;
    padding: 10px;
}
#work-space {
    background-color: #f8f9fa;
    height: 1000px;
    overflow: auto;

    
    border-top: 1px solid #dee2e6; /* 세로 경계줄 스타일 */
    border-bottom: 1px solid #dee2e6; /* 세로 경계줄 스타일 */
}
#large-container {
    width: 3000px;
    height: 2000px;
    position: relative;
    overflow: hidden;
    
}

#preview {
    position: relative;
    top: 2px;
    left: 2px;
    
    border: 1px solid grey;
    background-color: lightgrey;
}