main, main > .group-container {
  margin: 0 auto
}


.group-container {
    /* margin-top: 400px; */
    width: 1000px;
    margin: 0;
}


.card {
    margin-right: 13px; 
    margin-bottom: 10px;
    width: 15rem;
}