{% extends 'basic/base.html' %}
{% block title %}Openseats - my page{% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                <img src="{{ url_for('feature.get_profile_image', user_id=user.id) }}" class="rounded-circle mx-auto d-block mb-3" alt="프로필 사진" width="100" height="100">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">{{ user.email }}</p>
                <p class="card-text">{{ user.userMessage }}</p>
                </div>
                {% if g.user.id == user.id %}
                <a href="{{ url_for('main.my_page_edit',  user_page=g.user.userID) }}" class="btn btn-primary">프로필 수정</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-8">
        <h2>그룹 목록</h2>
        <hr>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                {% if g.user.id == user.id %}
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">나의 그룹</button>
                {% else %}
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">이 유저의 그룹</button>
                {% endif %}
            </li>
            <li class="nav-item" role="presentation">
                {% if g.user.id == user.id %}
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">가입한 그룹</button>
                {% else %}
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">가입한 그룹</button>
                {% endif %}
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <!-- My Groups -->
                {% for group in user.groups %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" ><a class="a" href="{{ url_for('group.detail_page', group_id=group.id) }}">{{ group.name }}</a></h5>
                        <p class="card-text">{{ group.address }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ group.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!-- Groups I'm joining -->
                {% for reservation in reservations %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" ><a class="a" href="{{ url_for('group.detail_page', group_id=reservation.group_id) }}">{{ reservation.group.name }}</a></h5>
                        <p class="card-text">{{ reservation.group.address }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ reservation.group.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
          </div>
        <!-- <a href="#" class="btn btn-primary">게시글 작성</a> -->
        </div>
    </div>
</div>


{% endblock %}